body
{	background-color : #fff5d7;
	text-align:center;
}
.board ,#theBoard
{
	width : 600px;
	height : 600px;
}

#theBoard
{
	position : relative;
	left :10%;
}

.coin 
{
	position: absolute;
	top: 520px;
	left: 530px;
	width : 30px;
	height : 45px;
} 

 
.swal2-popup {
  font-size: 1.6rem !important;
}

.bldgCoin
{
	width : 30px;
    height : 30px;
	position: absolute;
	top: 460px;
	left: 495px;
	z-index: 2;
}

#btnMenu
{
	font-size: 26px;
	width : 200px;
	position : absolute;
	top: 50px;
	right : 0%;
}

#menu
{
	width : 200px;
	position : absolute;
	top: 100px;
	right : 0%;
}
.menuBtns
{
	width : 200px;
	font-size: 26px;
}

#restart, #start 
{
	width:	150px;
	height: 70px;
	font-size: 20px;
}

.btn-info
{
	background-color: #f9c5bd;
	color : black;
	margin : 10px;
	font-size: 22px;
	padding:10px 40px;
}

#allControls
{
	background-color : #ff5e6c;
	font-size: 22px;
	position : absolute;
	top: 65px;
	left : 55%;
	width:	500px;
	padding:20px;
    margin: 10px 0px;
}

#diceContainer
{
    width:60%;
    margin: auto;
    cursor: pointer;
}


.playerData
{
    color : black;
	background-color : #fff5d7;
	height : 100px;
    font-size: 26px;
    margin: 15px;
    position: relative;
}
.dataCoin
{
	width : 40px;
    height : 60px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.cityIcon
{
	width : 40px;
    height : 40px;
    position: absolute;
    top: 0px;
    left: 60px;
}
.houseIcon
{
	width : 40px;
    height : 40px;
    position: absolute;
    top: 0px;
    left: 144px;
}
.hotelIcon
{
	width : 40px;
    height : 40px;
    position: absolute;
    top: 0px;
    left: 225px;
}
.moneyIcon
{
	width : 40px;
    height : 40px;
    position: absolute;
    top: 50px;
    left: 60px;
}

.cityValue
{
    position: absolute;
    top: 5px;
    left: 115px;
}
.houseValue
{
    position: absolute;
    top: 5px;
    left: 200px;
}
.hotelValue
{
    position: absolute;
    top: 5px;
    left: 275px;
}
.moneyValue
{
    position: absolute;
    top: 55px;
    left: 110px;
}
.currChanceData
{
	border: 2px solid Black;
	background-color: White;
}
.currentChanceBtns
{
	height: 100%;
    position: absolute;
    left: 320px;
}
#btnWork, #btnDone
{
	margin-top:10px;
	padding: 5px 25px;
}

#theDice, .dice
{
	margin:auto;
	width : 100px;
    height : 100px;
}


#allRules
{
    color:white;
	background-color : rgb(219, 170, 10);
	box-shadow : 20px 20px 20px #777;
	font-size: 30px;
	position : fixed;
	top: 100px;
	right : -500px;
	width:	500px;
	height:	500px;
    padding:20px;
	margin:auto;
	z-index: 100;
}


#rulesContainer
{
	background-color : #fff5d7;
	height:	410px;
    margin:auto;
    overflow-y:scroll;
}
.imgRule
{
    width:90%;
    margin: 10px 0px;
}
.closeBox
{
    cursor: pointer;
}

#btnLogs
{
	font-size: 30px;
	position : absolute;
	top: 420px;
	right : 0%;
    border-radius: 10%;
}
#allLogs
{
    color:white;
	background-color : rgb(219, 170, 10);
	box-shadow : 20px 20px 20px #777;
	font-size: 30px;
	position : fixed;
	top: 100px;
	right : -500px;
	width:	500px;
	height:	500px;
    padding:20px;
	margin:auto;
	z-index: 50;
}
#logsContainer
{
	background-color : #fff5d7;
	height:	410px;
    margin:auto;
    overflow-y:scroll;
}
.logItem
{
	margin : auto;
	margin-top : 10px;
	font-size:15px;
	padding:5px;
	background-color: white;
	color : black;
}
.logCoin
{
	width : 30px;
    height : 40px;
}


#btnTrade
{
	font-size: 30px;
	position : absolute;
	top: 300px;
	right : 0%;
    border-radius: 10%;
}

#TradeTray
{
    color:white;
	background-color : rgb(219, 170, 10);
	box-shadow : 20px 20px 20px #777;
	font-size: 30px;
	position : fixed;
	top: 90px;
	right : -650px;
	width:	650px;
	height:	580px;
    padding:20px;
	margin:auto;
}

.tradeCoin 
{
	width : 20px;
	height : 30px;
} 
.tradeBtns
{
	padding: 10px 20px;
}

#tradeLeftPropertyContainer, #tradeRightPropertyContainer
{
	background-color : #fff5d7;
	height:	350px;
    margin:auto;
    overflow-y:scroll;
}

#confirmTrade, #closeTrade
{
	width: 90%;
	padding: 10px ;
	margin-top: 10%;
}

@media (max-width: 1200px) {

	#allControls
	{
		position : absolute;
		top: 750px;
		left : 10%;
	}

	
	#btnTrade
	{
		top: 850px;
		right : 0%;
	}

	#btnLogs
	{
	
		font-size: 30px;
		position : absolute;
		top: 760px;
		right : 0%;
		border-radius: 10%;
	}

}