body
{	background-color : #0aa;
	margin:20px;
	text-align:center;
}

.board ,#theBoard
{
	width : 600px;
	height : 600px;
}

#theBoard
{
	position : relative;
	left :200px;
}

.coin
{
	position: absolute;
	left: -50px;
	top: 535px;
	width : 50px;
	height : 50px;
} 

#allControls
{
	background-color : #0cc;
	font-size: 22px;
	border: 1px solid black;
	position : absolute;
	top: 100px;
	left :900px;
	width:	500px;
	padding:20px;
	margin:auto;
}
#theDice, .dice
{
	margin:auto;
	width : 200px;
	height : 200px;
}

#restart
{
	width:	150px;
	height: 70px;
	font-size: 20px;
	margin:auto;
	border-radius: 10%;
	border: 1px solid black;
}

#start 
{ 
	width:	150px;
	height: 70px;
	font-size: 20px;
	margin:auto;
	border-radius: 10%;
	border: 1px solid black;
}
.radio
{
	width:	22px;
	height: 22px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	margin-left: -100px;
	background-color: #f9f9f9;
	width: 360px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.dropdownImages
{
	padding: 15px;
	width : 150px;
	height : 150px;
}
.dropdownImages:hover
{
	background-color: green;
}
.boardSelected
{
	background-color: green;
}